<% content_for(:link) do %>

  <li role="presentation"><%= link_to 'Add a Story', new_story_path %></li>

<% end %>

<h1 class="main_head">StoryTime</h1>

<% @stories.each do |story| %>
  <h3><%= link_to "#{story.title}", story_path(story) %></h3>
  <p><%= link_to '', story_path(story, :favorite => "like"), :method => "patch", class: "glyphicon glyphicon-heart-empty" %></span> <%= story.first_sentence %></p>
  <small><%= story.favorites %> Favorites</small>
<% end %>
