<!DOCTYPE html>
<html>
<head>
  <title>StoryTime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="nav nav-pills">
  <li role="presentation"><%= link_to "Home", stories_path %></li>
  <%= yield(:link) %>
</ul>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
